/* 去除圆点 */
.user #myTab li{
  list-style: none;
}
/* 头部切换样式 */
.nav-item a {
  font-size: 16px;
  text-decoration: none;
}
.list-group-item div{
  display: inline-block;
}
#addUserBtn{
  margin: 10px 0;
}
.user {
  height: 100%;
  overflow: auto;
}